<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>关于空教室查询</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/index.css" /> <!-- my css file -->
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- my files -->
    <script type="text/javascript" src="../static/jquery.js"></script>
    <script type="text/javascript" src="../static/jquery.json-2.4.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="http://herald.seu.edu.cn">先声网</a>
          <ul class="nav">
            <li><a href="http://herald.seu.edu.cn/queryEmptyClassrooms/index/">首页</a></li>
            <li class="active"><a href="http://herald.seu.edu.cn/queryEmptyClassrooms/about/">关于本站</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" style="padding-top:5%;">
      <h4>数据来源于教务处全校课表。。</h4>
      <h4>因某些课程教务处课表并未显示上课教室。。所以准确性可能收到影响。。</h4>
      <h4>因未进行调研，查询的方式可能不服合大家的意见，欢迎指出</h4>
      <h4>您可以将您的建议和意见发送邮件至goclisyyh@gmail.com</h4>
      <h4>邮件标题带个【空教室查询反馈】，谢谢～～～</h4>
    </div>
  </body>
</html>