<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>空教室查询</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/index.css" /> <!-- my css file -->
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- my files -->
    <script type="text/javascript" src="../static/jquery.js"></script>
    <script type="text/javascript" src="../static/jquery.json-2.4.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/index.js"></script>
  </head>
  <body>
    <!-- 导航条 -->
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="http://herald.seu.edu.cn">先声网</a>
          <ul class="nav">
            <li class="active"><a href="http://herald.seu.edu.cn/queryEmptyClassrooms/index/">首页</a></li>
            <li><a href="http://herald.seu.edu.cn/queryEmptyClassrooms/about/">关于本站</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- QUERY -->
	  <div class="container">
      <div class="row text-center input-area">
	  		<fieldset class="form-inline">
	  			<legend><h1>空教室查询</h1></legend>
          <label>第</label>
	  			<input type="text" value="5" name="weekNum" class="input-mini text-center input-data" />
          <label>周 周</label>
	  			<input type="text" value="1" name="week" class="input-mini text-center input-data" />
          &nbsp;
	  			<input type="text" value="1" name="start" class="input-mini text-center input-data" />
          <label>到</label>
	  			<input type="text" value="3" name="end" class="input-mini text-center input-data" />
          <label>节</label> 
          <select id="place" class="input-medium">
            <option>全部校区</option>
            <option>九龙湖</option>
            <option>四牌楼</option>
            <option>丁家桥</option>
          </select>
	  			<button class="btn input-mini btn-success" id="query">查询</button>
          <button class="btn btn-info" id="queryToday">查询今天</button>
          <button class="btn btn-primary" id="queryTomorrow">查询明天</button>
	  		</fieldset>
      </div>
      <div class="row" id="result" class="text-center" style="margin-top:15px;">
      </div>
    </div>
  </body>
</html>